<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y condiciones</title>
    <link rel="shortcut icon" href="img/logo-favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Header - Top bar y main header navbar-->
<header>
    <div class="top-bar text-center text-white p-3">
        <span>Por esta semana compra a 10% de descuento</span>
    </div>
    <div class="main-header d-flex justify-content-between gap-4 p-3">
        <div class="logo">
            <a th:href="@{/}">
                <img src="/img/logo.png" alt="imagen del logo">
            </a>
        </div>
        <div class="search input-group mb-3 dropdown">
            <input type="text" id="searchInputNav" placeholder="Buscar libros..." class="form-control" autocomplete="off" data-bs-toggle="dropdown" aria-expanded="false">
            <button class="btn btn-outline-warning" type="button" id="button-addon2">
                <i class="icon-cart bi bi-search" style="color:var(--color-principal); font-size: 18px;"></i>
            </button>
            <ul class="dropdown-menu w-100" id="suggestionsDropdown" aria-labelledby="searchInput">
                <!-- Las sugerencias se agregarán aquí dinámicamente -->
            </ul>
        </div>
        <div class="cart">
            <a th:href="@{/cart}" class="text-decoration-none position-relative">
                <i class="bi bi-cart" style="color:#000; font-size: 24px;"></i>
                <span id="cart-item-count" class="badge bg-warning text-dark rounded-pill position-absolute top-0 start-100 translate-middle">0</span>
            </a>
        </div>
    </div>
    <nav class=" main-nav navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Inicio</a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                                                      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                                                                      aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/listado}">Lo más vendido</a> </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/galeria/7}">Infantil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/galeria/1}">Ficción</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/galeria/8}">Historia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/galeria/9}">Juvenil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">eBooks</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/register}">Registrarse</a>
                    </li>

                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span sec:authentication="name"></span> </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li sec:authorize="hasRole('ADMIN')">
                                <a class="dropdown-item" th:href="@{/admin/dashboard}">Panel de Administración</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form th:action="@{/logout}" method="post" class="dropdown-item">
                                    <button type="submit" class="btn btn-link nav-link-custom btn-logout">Cerrar Sesión</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Portada -->
<div class="container-fluid bg-image" style="background-color: var(--color-plomo); background-size: cover; background-position: center; color: var(--color-principal); text-align: center; padding: 70px 0; padding-bottom: 20px;">
    <div class="container">
        <h1>Términos y condiciones</h1>
        <p class="lead">Versión actualizada al 4 de abril del 2025</p>
    </div>
</div>
<!-- Terminios -->
<div id="mision-vision" class="container-fluid pb-5">
    <div id="poli-content" class="container">
        <div class="container mb-4">
            <div class="content">
                <h2>1. Aceptación del Usuario</h2>
                <p>El usuario puede navegar, utilizar y realizar compras en el sitio web de Librería La Catedral sin necesidad de registrarse. En caso de querer registrarse, deberá completar un formulario proporcionando la información personal requerida, conforme a la Política de Privacidad. Al completar el registro, el usuario contará con una cuenta personal para usar el sitio web.</p>
                <p>A través del sitio web de Librería La Catedral, los usuarios pueden adquirir productos, eligiendo entre la entrega a domicilio o el recojo en almacén.</p>
                <p>Al utilizar el sitio web, con o sin registro, el usuario acepta sin reservas todos los términos y condiciones establecidos. Se reconoce que las promociones y ofertas en la web son exclusivas y no aplicables a otros medios de venta, incluidas compras corporativas o al por mayor.</p>
                <p>Es responsabilidad del usuario asegurarse de leer y comprender los términos y condiciones antes de realizar una compra, evitando cualquier inconveniente con su pedido.</p>

                <h2>2. Uso del sitio web</h2>
                <p>El sitio web de Librería La Catedral está disponible únicamente para personas que tengan capacidad legal para celebrar contratos de acuerdo con la legislación vigente.</p>
                <p>El usuario debe comprometerse a utilizar el sitio web respetando la ley, los términos y condiciones, la moral, las buenas costumbres y el orden público.</p>
                <p>El usuario no podrá utilizar el sitio para actividades fraudulentas, ilegales o que perjudiquen a terceros, ni manipular información con el objetivo de engañar o realizar prácticas desleales.</p>

                <h2>3. Responsabilidad por contraseñas</h2>
                <p>Los usuarios con cuenta deben registrar su información personal auténtica. No está permitido usar datos de terceros con la intención de suplantar identidades, en cuyo caso Librería La Catedral podrá tomar medidas pertinentes.</p>
                <p>Una vez registrado, el usuario tendrá una cuenta personal protegida por una contraseña, cuya gestión y confidencialidad son de su exclusiva responsabilidad. Toda acción realizada desde una cuenta será considerada como hecha por su titular.</p>
                <p>Si el usuario detecta que un tercero ha accedido a su cuenta sin autorización, deberá notificarlo de inmediato a Librería La Catedral a centrodeayuda@lacatedral.com.</p>
                <p>En caso de olvido o pérdida de la contraseña, Librería La Catedral ofrece un proceso seguro de recuperación, garantizando la protección de los datos del usuario.</p>

                <h2>4. Propiedad intelectual</h2>
                <p>Todos los derechos de propiedad intelectual del sitio web de Librería La Catedral, incluidos sus contenidos y diseños, pertenecen a esta empresa o a terceros con los que se hayan suscrito acuerdos de uso.</p>
                <p>Está prohibida la reproducción, distribución, transformación, comunicación pública o cualquier otro uso de los contenidos del sitio web sin previa autorización.</p>
                <p>Asimismo, el uso de cualquier marca registrada, nombre o logotipo mostrado en la web sin autorización escrita está prohibido.</p>
                <p>Cualquier violación a estas disposiciones podrá ser sancionada de acuerdo con la legislación vigente sobre propiedad intelectual.</p>

                <h2>5. Medios de pago</h2>
                <p>Los usuarios pueden realizar pagos utilizando los siguientes métodos:</p>
                <ol>
                    <li>Pago en línea</li>
                </ol>
                <p>Los métodos de pago aceptados incluyen:</p>
                <ul>
                    <li>Visa</li>
                    <li>MasterCard</li>
                    <li>American Express</li>
                    <li>Diners Club</li>
                </ul>
                <p>Es responsabilidad del usuario contar con un método de pago válido al confirmar su pedido. En caso de no contar con el medio de pago requerido, la compra será cancelada.</p>
                <p>Librería La Catedral trabaja con plataformas de pago seguras para garantizar la protección de los datos financieros de sus clientes.</p>

                <h2>6. Stock</h2>
                <p>Librería La Catedral realiza actualizaciones frecuentes del catálogo de productos, pero se reserva el derecho de modificar o descontinuar artículos sin previo aviso.</p>
                <p>Los productos sin stock aparecerán con la etiqueta "agotado". Si se genera una solicitud de compra de un producto sin disponibilidad, se notificará al usuario.</p>
                <p>La disponibilidad de los productos puede cambiar debido a la demanda, por lo que es recomendable revisar siempre el estado del inventario antes de realizar una compra.</p>

                <h2>7. Despacho de los productos</h2>
                <p>El despacho y entrega de los productos se realizará según la opción elegida por el usuario y la disponibilidad en el sitio. La dirección proporcionada para el envío es responsabilidad exclusiva del comprador.</p>
                <p>Los plazos estimados de entrega son de 1 a 3 días hábiles para Lima Metropolitana y de 5 a 10 días hábiles para provincias.</p>
                <p>Librería La Catedral no será responsable por retrasos ocasionados por eventos fuera de su control, como desastres naturales, fuerza mayor o conflictos externos.</p>
                <p>En caso de problemas con el despacho, el usuario podrá contactar a Librería La Catedral para solicitar asistencia y resolver cualquier inconveniente.</p>

                <h2>8. Datos personales</h2>
                <p>El tratamiento de datos personales del usuario se realiza de acuerdo con la Política de Privacidad de Librería La Catedral.</p>
                <p>Los datos serán utilizados exclusivamente para gestionar compras, realizar envíos y ofrecer una mejor experiencia de usuario.</p>
                <p>Librería La Catedral implementa medidas de seguridad para proteger la información personal de sus clientes y garantizar su privacidad.</p>

                <h2>9. Modificación de los Términos y Condiciones</h2>
                <p>Librería La Catedral se reserva el derecho de actualizar o modificar los presentes términos y condiciones en cualquier momento. Es responsabilidad del usuario revisar periódicamente los cambios.</p>
                <p>Las condiciones vigentes al momento de la compra serán las aplicables a la transacción.</p>
                <p>En caso de modificaciones significativas, Librería La Catedral notificará a sus usuarios para garantizar transparencia en el proceso.</p>
            </div>
        </div>
    </div>
</div>

<!-- Footer-->
<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4 mb-md-0">
                <div class="logo-social">
                    <img src="img/logo.png" alt="Cisol y Libros y Más" class="mb-3" style="max-width: 150px;">
                    <p class="text-white">Síguenos en redes sociales</p>
                    <ul class="list-unstyled d-flex">
                        <li class="me-3"><a target="_blank" href="https://www.facebook.com" class="text-white fs-4"><i class="bi bi-facebook"></i></a></li>
                        <li class="me-3"><a target="_blank" href="https://www.instagram.com" class="text-white fs-4"><i class="bi bi-instagram"></i></a></li>
                        <li class="me-3"><a target="_blank" href="https://www.youtube.com" class="text-white fs-4"><i class="bi bi-youtube"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 mb-4 mb-md-0">
                <h3 class="h6 mb-3 text-white fw-bold">Sobre Nosotros</h3>
                <ul class="list-unstyled">
                    <li class="mb-2"><a th:href="@{/somos}"
                                        class="text-decoration-none text-secondary text-white">Quiénes somos</a></li>
                    <li class="mb-2"><a th:href="@{/contactanos}"
                                        class="text-decoration-none text-secondary text-white">Contactanos</a></li>
                    <li class="mb-2"><a th:href="@{/condiciones}"
                                        class="text-decoration-none text-secondary text-white">Términos y Condiciones</a></li>
                    <li class="mb-2"><a th:href="@{/preguntas}"
                                        class="text-decoration-none text-secondary text-white">Preguntas Frecuentes</a></li>
                </ul>
            </div>

            <div class="col-md-2 mb-4 mb-md-0">
                <h3 class="h6 mb-3 text-white fw-bold">Categorías</h3>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-decoration-none text-secondary text-white">Los más vendidos</a></li>
                    <li class="mb-2"><a href="#" class="text-decoration-none text-secondary text-white">Infantil</a></li>
                    <li class="mb-2"><a href="#" class="text-decoration-none text-secondary text-white">Ficción</a></li>
                    <li class="mb-2"><a href="#" class="text-decoration-none text-secondary text-white">Historia</a></li>
                    <li class="mb-2"><a href="#" class="text-decoration-none text-secondary text-white">Juvenil</a></li>
                    <li class="mb-2"><a href="#" class="text-decoration-none text-secondary text-white">Ebooks</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-4 mb-md-0">
                <h3 class="h6 mb-3 text-white fw-bold">Contáctanos</h3>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="tel:(01) 999-9999" class="text-decoration-none text-secondary text-white">(01) 999-9999</a></li>
                    <li class="mb-2 text-secondary text-white">Lun a Sáb de 8am a 8pm</li>
                    <li class="mb-2"><a href="mailto:#" class="text-decoration-none text-secondary text-white">atencion@LaCatedral.com.pe</a></li>
                    <li class="mb-2"><a href="https://wa.me/#" class="text-decoration-none text-secondary text-white">Whatsapp ventas corporativas</a></li>
                </ul>
                <h3 class="h6 mt-4 mb-3 text-white fw-bold">Medios de pago</h3>
                <div class="d-flex">
                    <img src="https://www.crisol.com.pe/media/wysiwyg/payments/footer-paymet-image-2.png" alt="Visa" class="me-2" style="max-height: 90px;">
                </div>
            </div>

            <div class="col-md-2">
                <h3 class="h6 mb-3 text-white fw-bold">Libro de Reclamaciones</h3>
                <div class="d-flex">
                    <img src="https://www.crisol.com.pe/media/tem-banners/Item_libro_de_reclamaciones_128x80.png" alt="Libro de Reclamaciones" style="max-width: 140px;">
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
<script th:src="@{/js/search.js}"></script>
<script th:src="@{/js/cart.js}"></script>
</body>
</html>